<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
        
<testsuites>
    <testsuite name="Flutterwave Tests">
        <directory suffix=".php">tests</directory>
    </testsuite>
</testsuites>
<coverage processUncoveredFiles="true">
    <include>
        <directory suffix=".php">./src</directory>
    </include>
    <exclude>
        <directory suffix=".php">./vendor</directory>
        <directory suffix=".js">./vendor</directory>
        <directory suffix=".xml">./vendor</directory>
        <file>tests/bootstrap.php</file>
    </exclude>
    <report>
        <clover outputFile="coverage.xml" />
    </report>
</coverage>


</phpunit>